@font-face {
  font-family: 'NotoSansJP';
  src: url('NotoSansJP.ttf');
}

body {
  font-family: NotoSansJP;
  margin: 0;
  font-size: 200px;
  touch-action: none;
  user-select: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.card {
  border-radius: 25px;
  border: 2px solid #000000;
  flex-grow: 1;
  align-self: stretch;
  margin: 20px;
  text-align: center;
  align-content: center;
}

.settings {
  font-size: 40px;
  text-align: left;
  display: inline-block;
}

.settings-item {
}

.settings-footer {
  margin-top: 20px;
}

.settings-header {
  font-weight: bold;
  margin-bottom: 20px;
}

select, button {
  font-size: 35px;
}

label {
  margin-right: 10px;
}

span {
  display: block;
}
